/build
/flow-typed
node_modules
dist
npm-debug.log
yarn-error.log
package-lock.json
.DS_Store
*.env
storyplayer_electron/node_modules
storyplayer_electron/dist/
storyplayer_electron/src/dist/
examples/*