.p_chapterButton {
    right: 85px;
}

#plugin_container {
    background: rgba(0,0,0,0.7);
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    right: 0;
}

.plugin_button {
    width: 300px;
    height: 100%;
    float: right;
    color: #ffffff;
    transition: all 0.5s ease;
    margin-right: 10px;
    position: relative;
    line-height: 44px;
    font-size: 12px;

}

.plugin_button:hover {
    transition: all 0.5s ease;
    background-color: rgb(245, 73, 151);
  }

  ._nislider{
    width: 60%;
    height: 100%;
    float: right;
    color: #ffffff;
    transition: all 0.5s ease;
    margin-right: 10px;
    position: relative;
    line-height: 30px;
  }
