::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ededed;
  font-family: system-ui;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  align-items: center;
  background: #2a0f34;
  color: white;
  display: flex;
  padding: 3px 95px;
  max-height: 40px;
  position: relative;
}

.navbar h1 {
  font-weight: normal;
  font-size: large;
}

h2 {
  color: #2a0f34;
}

.story-title {
  margin: 0;
  position: absolute;
  right: 95px;
}

.romper-player {
  height: calc(100vh - 70px);
  width: 100vw;
}

#error-message {
  align-items: center;
  background: black;
  color: red;
  display: flex;
  justify-content: center;
}

#home-page {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
}

#content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45vw;
  margin: 0 auto;
}

.story-selectors select{
  border: none;
  color: #2a0f34;
  font-size: 100%;
  height: 50px;
  width: 100%;
}

#story-selector-container {
  border: 1px solid #ccc;
  background: white;
  margin-bottom: 3vw;
  margin-top: 0.5vw;
}

.stories-header {
  align-items: center;
  display: flex;
  margin-top: 3vw;
}

.stories-header button {
  margin-left: auto;
}

.home-button-container {
  left: 10px;
  display: flex;
  position: absolute;
}

.home-buttons {
  background-color: #00cfff;
  border: solid 1px #00cfff;
  color: #2a0f34;
  cursor: pointer;
  display: flex;
  align-content: center;
  font-size: 0.8rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 2.5rem;
  letter-spacing: normal;
  line-height: normal;
  margin: 0 2px 0 2px;
  min-width: fit-content;
  padding: 0.5rem 2rem;
}

.home-buttons span {
  line-height: 20px;
  padding-left: 0.2rem;
  vertical-align: middle;
}

.rd {
  padding-right: 1rem;
}

#home-button {
  border-left: 1px solid white;
  color: #00cfff;
  padding-left: 1rem;
}

#instructions {
  background: white;
  border: 1px solid #ccc;
  margin-top: 1vh;
  max-width: 45vw;
  padding: 20px;
}


.terms-content {
  color: #2a0f34;
  max-height: 50vh;
  overflow: auto;
}
