::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'ReithSans';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/reith/BBCReithSans_W_Rg.woff') format('woff');
}

@font-face {
  font-family: 'ReithSans';
  font-style: italic;
  font-weight: normal;
  src: url('../../fonts/reith/BBCReithSans_W_It.woff') format('woff');
}

@font-face {
  font-family: 'ReithSans';
  font-style: normal;
  font-weight: bold;
  src: url('../../fonts/reith/BBCReithSans_W_Bd.woff') format('woff');
}

@font-face {
  font-family: 'ReithSans';
  font-style: italic;
  font-weight: bold;
  src: url('../../fonts/reith/BBCReithSans_W_BdIt.woff') format('woff');
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font-family: 'ReithSans';
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  align-items: center;
  background: #271131;
  color: white;
  display: flex;
  padding: 3px 95px;
  max-height: 40px;
  position: relative;
}

.player-title {
  display: flex;
}

.sp-span {
  border-left: 1px solid white;
  color: #00cfff;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin-left: 10px;
  padding-left: 10px;
}

.rdux-masthead__logo {
  height: 24px;
}

.navbar h1 {
  font-weight: normal;
  font-size: large;
}

h2 {
  color: #271131;
}

.story-title {
  left: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.romper-player {
  height: calc(100vh - 70px);
  width: 100vw;
}

.home-button {
  cursor: pointer;
  position: absolute;
  right: 95px;
}

.disabled {
  display: none;
}

#error-message {
  align-items: center;
  background: black;
  color: red;
  display: flex;
  justify-content: center;
}

#home-page {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
}

#content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45vw;
  margin: 0 auto;
}

.story-selectors select{
  background: white;
  border: none;
  color: #271131;
  font-size: 100%;
  height: 50px;
  width: 100%;
}

#story-selector-container {
  border: 1px solid #ccc;
  margin-bottom: 3vw;
  margin-top: 0.5vw;
}

.stories-header {
  align-items: center;
  display: flex;
  margin-top: 3vw;
}

.stories-header button {
  margin-left: auto;
}

.home-button-container {
  left: 10px;
  display: flex;
  position: absolute;
}

.home-buttons {
  background-color: #00ceff;
  border: solid 1px #00ceff;
  color: #271131;
  cursor: pointer;
  display: flex;
  align-content: center;
  font-size: 0.8rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 2.5rem;
  letter-spacing: normal;
  line-height: normal;
  margin: 0 2px 0 2px;
  min-width: fit-content;
  padding: 0.5rem 2rem;
}

.home-buttons span {
  line-height: 20px;
  padding-left: 0.2rem;
  vertical-align: middle;
}

.rd {
  padding-right: 1rem;
}

.terms-content {
  background: white;
  border: 1px solid #ccc;
  color: #271131;
  margin-top: 1vh;
  max-width: 45vw;
  max-height: 50vh;
  overflow: auto;
  padding: 20px;
}
