.romper-player .romper-gui .romper-narrative-element-transport .romper-repeat-button {
  height: 60px;
  padding: 10px;
  width: 60px;

}

.romper-player .romper-representation-button {
  display: none;
}

.romper-player .romper-representation-overlay {
  z-index: 5;
  background-color: inherit;
}

.romper-player .romper-representation-overlay.romper-inactive {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  display: block !important;
  opacity: 0;
  user-select: none;
  visibility: visible !important;
}

.romper-player .romper-representation-overlay .romper-representation-control {
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  width: 33.3333%;
}

.romper-player .romper-representation-overlay .romper-representation-control.romper-representation-choice-1 {
  left: 0;
}

.romper-player .romper-representation-overlay .romper-representation-control.romper-representation-choice-2 {
  left: 33.33%;
}

.romper-player .romper-representation-overlay .romper-representation-control.romper-representation-choice-3 {
  left: 66.6666%;
}

.romper-player .romper-representation-overlay .romper-representation-icon {
  height: 100%;
  width: 100%;
}

.romper-player .romper-link-choice-overlay {
  display: flex;
  z-index: 5;
}

.romper-player .romper-link-choice-overlay .romper-link-icon {
  padding: 10px;
  width: 40px;
}

.romper-player .romper-link-choice-overlay .romper-link-control.romper-link-choice-CBA256D0-2370-4A69-9352-EAFD9E988F4A .romper-link-choice-icon-container {
  bottom: 60px;
  background-color: #50e3c2;
  position: absolute;
  right: 0;
}

.romper-player .romper-link-choice-overlay .romper-link-control.romper-link-choice-8c448fdf-a4f8-4470-a8d4-80c93b976c2f .romper-link-choice-icon-container {
  bottom: 60px;
  background-color: #50e3c2;
  position: absolute;
  right: 80px;
}
