body {
  font-family: system-ui;
  background: #ededed;
}


.navbar {
  align-items: center;
  background: black;
  color: #3cffd5;
  display: flex;
  justify-content: center;
  max-height: 40px;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
}


.romper-player {
  height: calc(100vh - 40px);
  width: 100%;
}

#error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: red;
}

.main-content {
  position: absolute;
  left: 10px;
  background-color: #ededed;
  display: flex;
  flex-direction: row;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-selectors {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 0;
  flex-wrap: wrap;
  max-width: 85vw;
}

.home-button {
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  background-color: #006def;
  border: solid 1px #006def;
  color: white;
  font-size: 0.8rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 2.5rem;
  letter-spacing: normal;
  line-height: normal;
  margin-right: 20px;
  padding: 0.625rem;
  min-width: fit-content;
  margin: 5px;
}

.story-selectors button {
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  background-color: #006def;
  border: solid 1px #006def;
  color: white;
  font-size: 0.8rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  height: 2.5rem;
  letter-spacing: normal;
  line-height: normal;
  margin-right: 20px;
  padding: 0.625rem;
  min-width: fit-content;
  width: 190px;
  margin-top: 20px;
}

.story-selectors button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.story-selectors:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.story-selectors button:hover {
  background-color: purple;
}

.content-box {
  border: 1px solid #767676;
  margin-top: 5vh;
  max-width: 50vw;
  padding: 20px;
}


.terms-content {
  color: #767676;
  max-height: 50vh;
  overflow: auto;
}
