$blue: #7bc5d4;
$dark-grey-blue: #37566a;
$pastel-orange: rgb(255 179 71 / 97%);
$background-colour: rgb(0 0 0 / 30%);
$forty-percent-black: rgb(0 0 0 / 40%);
$ninety-percent-black: rgb(0 0 0 / 90%);
$transparent: rgb(0 0 0 / 0%);
$highlight: #3cffd5;
$highlight-invert: #c3002a;
$accent-colour: #fff;
$backing-colour: rgb(170 170 170 / 60%);
$white: #fff;
$transparent-white: rgb(255 255 255 / 80%);
$black: #000;
$backing-colour-dark: rgb(150 150 150 / 60%);
$romper-background-color: #000;
$start-button-colour: #e83d42;
$start-button-colour-dark: #b7151b;
$text-colour: #555;

$var-panel-background: rgb(36 36 36 / 80%);
$var-panel-border: rgb(255 255 255 / 20%);
$half-white: rgb(255 255 255 / 50%);

$smp-text-white: #d8d8d8;

$px-border: #6d51d2;
$px-highlight: #24c4f7;
