$blue: #7bc5d4;
$dark-grey-blue: #37566a;
$pastel-orange: rgba(255, 179, 71, 0.97);
$background-colour: rgba(0, 0, 0, 0.3);
$transparent: rgba(0, 0, 0, 0);
$highlight: #ff7f11;
$accent-colour: #fff;
$backing-colour: rgba(170, 170, 170, 0.6);
$white: #fff;
$backing-colour-dark: rgba(150, 150, 150, 0.6);
$romper-background-color: #ccc;
$start-button-colour: #e83d42;
$start-button-colour-dark: #b7151b;
$text-colour: #555;

$var-panel-background: #678;
$var-panel-border: rgba(255, 255, 255, 0.2);
$half-white: rgba(255, 255, 255, 0.5);
