@import './buttons';
@import './scrubBar';

$background-color: #fff;
$shadow: rgba(77, 72, 77, 0.42);
$highlight: #ff7f11;

.romper-container {
  display: flex;
  height: 100%;
  margin-left: 85px;
  margin-right: 85px;
  width: 75%;
}

.romper-target,
#render-element {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  // padding-top: 1.5em;
  position: relative;
}

.romper-video-element {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.video-controls {
  bottom: 0;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  height: 5vw;
  width: 100%;
}

.video-navigation {
  bottom: 20%;
  height: 50px;
  width: 100%;
}

.scrub-bar {
  bottom: 13%;
  position: absolute;
}

.fullscreen {
  height: 5vw;
  position: absolute;
  right: 0;
  width: 5vw;
}

.switchbuttons img {
  width: 50px;
  background: rgba(200, 200, 230, 0.5);
  border: 1px solid lightgray;
}

.switchbuttons li {
  list-style: none;
  padding-top: 10px;
}

.switchbuttons ul {
  padding-left: 0px;
}

.switchbuttons {
  position: absolute;
  left: 10px;
  top: 0;
  margin-left: 0px;
  padding-left: 0px;
}

.inactive {
  opacity: 0.3;
  /* visibility: hidden; */
}

.active {
  visibility: visible;
}

#romper-target img,
video {
  // max-height: 281px;
}

img.inactiveIcon {
  width: 30px;
}

img.activeIcon {
  width: 60px;
}

#chapterIcons li {
  list-style: none;
  /* display: inline; */
}

#chapterIcons {
  /* position: absolute;
  top: 0px;
  left: 430px; */
}

div#render_element {
  background-color: rgb(230, 247, 252);
  padding-left: 0px;
  padding-top: 0px;
  /* padding: 10px; */
}

div#subrenderer {
  background-color: rgb(214, 245, 214);
  padding: 0px;
}

div#story_element {
  background-color: rgb(253, 245, 231);
  padding: 0px;
}

img.overlayImage {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
