@import './buttons';
@import './scrubBar';

$background-color: #fff;
$shadow: rgba(77, 72, 77, 0.42);
$highlight: #ff7f11;

$switchbuttons-img-background: rgba(200, 200, 230, 0.5);
$switchbuttons-img-border: #d3d3d3;

.romper-container {
  display: flex;
  height: 100%;
  margin-left: 85px;
  margin-right: 85px;
  width: 75%;
}

.romper-target,
.render-element {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

.romper-video-element {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.video-controls {
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 5vw;
  width: 100%;
}

.video-navigation {
  bottom: 20%;
  height: 50px;
  width: 100%;
}

.scrub-bar {
  bottom: 13%;
  position: absolute;
}

.fullscreen {
  height: 5vw;
  position: absolute;
  right: 0;
  width: 5vw;
}

.switchbuttons {
  left: 10px;
  margin-left: 0;
  padding-left: 0;
  position: absolute;
  top: 0;

  img {
    background: $switchbuttons-img-background;
    border: 1px solid $switchbuttons-img-border;
    width: 50px;
  }

  li {
    list-style: none;
    padding-top: 10px;
  }

  ul {
    padding-left: 0;
  }
}

.inactive {
  opacity: 0.3;
}

.active {
  visibility: visible;
}

img {
  .overlay-image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .active-icon {
    width: 60px;
  }

  .inactive-icon {
    width: 30px;
  }
}

.chapter-icons {
  li {
    list-style: none;
  }
}

$render-element-background-color: rgb(230, 247, 252);
$subrenderer-background-color: rgb(214, 245, 214);
$story-element-background-color: rgb(253, 245, 231);

div {
  .story-element {
    background-color: $story-element-background-color;
    padding: 0;
  }
}
