@import './colours';
@import './social';

$romper-button-height: 25px;
$romper-button-width: 25px;
$romper-buttons-max-height: 4em;
$romper-hover-text-size: 1.53em;
$romper-button-padding: 4px;
$romper-button-border: 4px;
$start-button-size: 15vw;

.romper-media-element-queued {
  display: none;
}

@mixin button {
  background-color: $transparent;
  border: 0;
  height: $romper-button-height;
  margin: 5px 0 0;
  outline: none;
  padding: $romper-button-padding;
  vertical-align: top;
  width: $romper-button-width;

  &:hover {
    background-color: $highlight-invert;
    filter: invert(100%);
  }

  &.romper-button-selected {
    border-bottom: 4px solid $highlight;
    padding-bottom: 0;
  }
}

@mixin button-icon($background-image) {
  background-color: $transparent;
  background-image: url($background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@mixin overlay {
  align-items: center;
  background-color: $backing-colour;
  display: flex;
  max-height: 70%;
  max-width: 60%;
  opacity: 0.9;
  overflow-y: auto;
  padding: 13px;
  z-index: 4;

  & > * {
    padding: 5px;
  }
}

// Safari
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.romper-warning {
  display: table;
  height: 100%;
  width: 100%;

  div {
    color: $accent-colour;
    display: table-cell;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
  }
}

.romper-target {
  height: 100%;
  min-width: 320px;
  width: 100%;

  &.romper-target-fullscreen {
    background-color: $romper-background-color;
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 1;
  }
}

.romper-threejs {
  position: absolute;
}

.romper-player {
  color: $accent-colour;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  * {
    box-sizing: content-box;
  }

  &.romper-player-fullscreen {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .romper-background,
  .romper-media,
  .romper-gui {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .romper-dog {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    position: absolute;
    z-index: 101;
  }

  .romper-error {
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    background-color: $forty-percent-black;
    height: auto;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    z-index: 105;

    &.hide {
      display: none;
      height: 0%;
      width: 0%;
    }
  }

  .romper-media {
    background-color: $romper-background-color;

    &.romper-prestart {
      .romper-start-image {
        visibility: visible;
      }

      div {
        visibility: hidden;
      }

      .romper-privacy-notice {
        background: linear-gradient($transparent 0%, $var-panel-background 30%, $var-panel-background 100%);
        bottom: 0;
        height: 150px;
        left: 0;
        position: absolute;
        right: 0;
        visibility: visible;
        z-index: 10;

        a {
          color: $highlight;
        }

        >p {
          bottom: 10px;
          left: 0;
          margin-top: 50px;
          padding: 0 5%;
          position: absolute;
          right: 0;
          text-align: center;
        }
      }
    }
  }

  .romper-loading {
    background-color: $romper-background-color;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .romper-loading-inner {
    @include button-icon('../images/loading.svg');
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    height: 2.5em;
    left: calc(50% - 1.25em);
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(50% - 1.25em);
    width: 2.5em;
  }

  .romper-video-element {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .a-enter-vr {
    &.embedded {
      height: $romper-button-height;
      top: 0;
      width: $romper-button-height;
    }
  }

  .a-enter-vr-button {
    bottom: inherit;
    height: $romper-button-height;
    top: 5px;
  }

  .romper-audio-element {
    background: $romper-background-color;
    background-image: url('../images/volume-high.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 30%;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .romper-text-element {
    background: $romper-background-color;
    color: $white;
    height: 100%;
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
  }

  .romper-inactive {
    display: none !important;
    visibility: collapse !important;
  }

  .romper-unavailable {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  .romper-control-selected > .romper-icon {
    background-color: $highlight;
  }

  .romper-no-icon {
    background-color: $transparent;
    background-image: url('../images/no-asset.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .romper-button-icon-div {
    opacity: 1;
  }

  .romper-play-button {
    @include button;

    div {
      @include button-icon('../images/media-play.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-pause-button {
    @include button;

    div {
      @include button-icon('../images/media-pause.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-seek-fwd-button {
    @include button;

    div {
      @include button-icon('../images/seek-forward-40.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-seek-back-button {
    @include button;

    div {
      @include button-icon('../images/seek-back-40.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-volume-button {
    @include button;

    div {
      @include button-icon('../images/volume-high.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-start-button {
    @include button;
    margin-right: 20px;
    padding: 0;


    .romper-button-icon-div {
      @include button-icon('../images/media-play.svg');
    }
  }

  .romper-reset-button {
    @include button;
    margin-right: 20px;
    padding: 0;


    .romper-button-icon-div {
      @include button-icon('../images/reload.svg');
    }
  }

  .romper-representation-button {
    @include button;

    div {
      @include button-icon('../images/layers.svg');
      height: 60%;
      width: 60%;
    }
  }

  .romper-icon-button {
    @include button;

    div {
      @include button-icon('../images/list.svg');
      height: 60%;
      width: 60%;
    }
  }

  .romper-fullscreen-button {
    @include button;

    div {
      @include button-icon('../images/fullscreen-enter.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-buttons-fullscreen {
    .romper-fullscreen-button {
      div {
        @include button-icon('../images/fullscreen-exit.svg');
        height: $romper-button-height;
        width: $romper-button-width;
      }
    }
  }

  .romper-back-button {
    @include button;

    div {
      @include button-icon('../images/media-step-backward.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-next-button {
    @include button;
    margin-right: auto;

    div {
      @include button-icon('../images/media-step-forward.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-timer {
    display: inline-flex;
    height: 40px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
  }

  .romper-subtitles-button {
    @include button;

    div {
      @include button-icon('../images/subtitles.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }

    &.romper-control-disabled {
      display: none;
    }
  }

  .romper-mute-button {
    @include button;
    margin-right: auto;
    margin-top: 0;
    padding: 3px;

    div {
      @include button-icon('../images/volume-high.svg');
      background-size: 80%;
    }
  }

  .romper-muted-button {
    @include button;
    margin-right: auto;
    margin-top: 0;
    padding: 3px;

    &:hover {
      background-color: initial;
      filter: none;
    }

    div {
      @include button-icon('../images/volume-off.svg');
      background-size: 80%;

      &:hover {
        background-color: initial;
        filter: none;
      }
    }
  }

  .romper-volume-overlay {
    @include overlay;
    background-color: $black;
    bottom: 104px;
    flex-direction: column;
    left: 10%;
    max-height: unset;
    position: absolute;

    .romper-volume-control {
      align-items: center;
      display: block;
      flex: none;
      flex-direction: row;
      font-size: smaller;
      justify-content: center;
      width: 100%;

      &.romper-muted {
        .romper-volume-level,
        .romper-volume-range {
          opacity: 0.4;
        }
      }

      .romper-control-line {
        display: inline-flex;
      }

      .romper-volume-level {
        align-self: center;
        padding-left: 15px;
        width: 1.2em;
      }

      .romper-volume-label {
        margin-right: 1em;
        overflow-x: hidden;
        padding-bottom: 10px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 8em;
      }

      .romper-volume-range {
        -webkit-appearance: none;
        background-color: $transparent;
        margin-left: 5px;
        margin-top: 5px;
        outline: none;
        width: 100%;

        &::-webkit-slider-runnable-track {
          -webkit-appearance: none;
          background-color: $white;
          height: 1px;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          background-color: $white;
          border-radius: 50%;
          height: 12px;
          margin-top: -5px;
          width: 12px;
        }

        &::-moz-range-progress {
          background-color: $highlight;
        }

        &::-moz-range-track {
          background-color: $transparent;
        }
      }
    }

    &.count-1 {
      .romper-volume-label {
        display: none;
      }
    }
  }

  .romper-representation-overlay {
    @include overlay;
    background-color: $black;
    bottom: 104px;
    flex-wrap: wrap;
    justify-content: center;
    max-height: unset;
    position: absolute;
    right: 10%;
    transition: opacity 1s ease;

    .romper-representation-icon {
      width: 3em;
    }
  }

  .romper-icon-overlay {
    @include overlay;
    background-color: $black;
    bottom: 104px;
    flex-wrap: wrap;
    justify-content: center;
    max-height: unset;
    position: absolute;
    right: 10%;
    transition: opacity 1s ease;

    .romper-icon {
      width: 3em;
    }
  }

  @keyframes appear {
    0%   {
      opacity: 0;
    }

    35%  {
      opacity: 0.35;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes countdown {
    0% {
      border-bottom-color: inherit;
      border-bottom-width: 10px;
      padding-bottom: 3px;
    }

    100% {
      border-bottom-color: transparent;
      border-bottom-width: 1px;
      padding-bottom: 12px;
    }
  }

  .romper-link-choice-overlay {
    background: linear-gradient($transparent 0%, $forty-percent-black 20%, $ninety-percent-black 100%);
    bottom: 0;
    display: flex;
    left: 0;
    min-height: 10%;
    min-width: 0;
    padding: 3% 10%;
    pointer-events: none;
    position: absolute;
    width: 80%;
    z-index: 15;

    &.fullscreen-icons {
      background: none;
      display: grid;
      grid-auto-flow: column;
      height: 100%;
      padding: 0;
      width: 100%;

      &.tworow {
        grid-template-rows: 1fr 1fr;
      }

      &.threerow {
        grid-template-rows: 1fr 1fr 1fr;
      }

      .romper-link-icon-container {
        height: 100%;
        margin: 0;
        width: 100%;
      }
    }

    &.romper-icon-fade {

      .romper-control-selected {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s 1.3s ease;
      }

      .romper-control-unselected {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
      }
    }

    .romper-link-control {
      border-bottom-color: $transparent;
      border-bottom-style: solid;
      border-bottom-width: $romper-button-border;
      cursor: pointer;
      flex: 1 1 0;
      height: 100%;
      margin-bottom: 1%;
      pointer-events: all;
      width: 100%;
    }

    .romper-control-selected {

      &.text {
        border-bottom: $romper-button-border solid $highlight;
      }

      .romper-link-icon-container {
        border: $romper-button-border solid $highlight;
      }
    }

    .romper-control-unselected {

      &.default {
        &.text {
          border-bottom: $romper-button-border solid $backing-colour;
        }

        .romper-link-icon-container {
          border: $romper-button-border solid $backing-colour;
        }
      }
    }
  }

  .romper-link-choice-grid-cell {
    opacity: 1;
  }
}

.romper-link-icon-container {
  border: $romper-button-border solid $transparent;
  border-radius: 50%;
  height: 8em;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

.romper-text-link-container {
  display: flex;
  flex-direction: column;
  height: 8em;
  justify-content: center;
  margin-bottom: 5px;
}

.romper-link-text-icon {
  font-size: 180%;
  margin: 10px;
  text-align: center;
}

.romper-player > .romper-gui {

  .romper-start-button {
    bottom: calc(50% - #{(0.5 * $start-button-size)});
    display: grid;
    height: $start-button-size;
    left: calc(50% - #{(0.5 * $start-button-size)});
    margin: 0;
    position: absolute;
    width: $start-button-size;
    z-index: 101;

    &:hover {
      background-color: $transparent;

      >div {
        background-color: $highlight-invert;
      }
    }

    .romper-start-button-icon {
      background-color: $transparent;
      border: 1px solid $white;
      border-radius: 50%;
      height: 0.75 * $start-button-size;
      margin-left: auto;
      margin-right: auto;
      max-height: 170px;
      max-width: 170px;
      width: 0.75 * $start-button-size;
    }

    .romper-start-button-icon-div {
      height: 0.75 * $start-button-size;
      margin-left: auto;
      margin-top: 0;
      max-height: 170px;
      max-width: 100px;
      width: 0.75 * 0.8 * $start-button-size;
    }

    .romper-start-button-text-div {
      color: $white;
      font-size: 48px;
      font-weight: bold;
      line-height: $romper-button-height;
      margin-top: 10px;
      text-align: center;
    }
  }

  .romper-reset-button {
    bottom: calc(50% - #{(0.5 * $start-button-size)});
    display: grid;
    height: $start-button-size;
    left: calc(50% - #{(0.5 * $start-button-size)});
    margin: 0;
    position: absolute;
    width: $start-button-size;
    z-index: 101;

    &:hover {
      background-color: $transparent;

      >div {
        background-color: $highlight-invert;
      }
    }

    .romper-reset-button-icon {
      background-color: $transparent;
      border: 1px solid $white;
      border-radius: 50%;
      height: 0.75 * $start-button-size;
      margin-left: auto;
      margin-right: auto;
      max-height: 170px;
      max-width: 170px;
      width: 0.75 * $start-button-size;
    }

    .romper-reset-button-icon-div {
      height: 0.75 * $start-button-size;
      margin-top: 0;
      max-height: 170px;
      max-width: 100px;
      width: 0.75 * 0.8 * $start-button-size;
    }

    .romper-reset-button-text-div {
      color: $white;
      font-size: 48px;
      font-weight: bold;
      line-height: $romper-button-height;
      margin-top: 10px;
      text-align: center;
    }
  }

  >.romper-buttons {
    background: linear-gradient($transparent 0, $black 70%, $black 100%);
    bottom: 0;
    display: flex;
    height: 100%;
    max-height: 11.25em;
    opacity: 0;
    padding-bottom: 1em;
    pointer-events: none;
    position: absolute;
    transition: all 1s ease;
    z-index: 10;

    &.icons-showing {
      background: linear-gradient($transparent 0, $black 30%, $black 100%);
    }

    .left,
    .right {
      display: flex;
      flex: 1 1 auto;
      padding-top: 10px;
      width: 15%;
    }


    .center {
      flex: 0 0 auto;
      padding-top: 10px;
    }

    >.romper-media-transport {
      display: flex;
      flex-direction: row;
      height: 74px;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      width: 80%;

      >div {
        border-top: 1px solid $white;
      }
   }

    &.show {
      opacity: 1;
      pointer-events: all;
    }

    .romper-icon-label {
      display: none;
    }
  }

  .romper-narrative-element-transport {
    bottom: $romper-buttons-max-height;
    display: flex;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1; // set to 0 to hide with rest of buttons
    transition: all 1s ease;
    z-index: 30; // remove to hide with rest of buttons

    &.show {
      opacity: 1;
    }
  }

  .romper-button {
    margin: 10px 5px;
  }

  >.romper-overlays {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100% - 120px);
    justify-content: center;
    width: 100%;

    &.buttons-showing {
      .romper-link-choice-overlay {
        bottom: 8em;
        transition: all 0.5s ease;
      }
    }
  }

  >.romper-buttons-activate-area {
    bottom: 0;
    display: block;
    height: 150px;
    max-height: 120px;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 10;

    &.hide {
      display: hidden;
      height: 0%;
      width: 0%;
    }

    &.disabled {
      pointer-events: none;
    }
  }
}

.romper-overlay-controls {
  display: inherit;
  margin-left: auto;
}

.romper-control-disabled {
  opacity: 0.2;
}

.romper-scrub-bar {
  bottom: 83px;
  display: block;
  height: 10px;
  left: 10%;
  margin: 0;
  outline: none;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 5;

  &.romper-control-disabled {
    pointer-events: none;
    visibility: hidden;
  }

  &[type='range'] {
    -webkit-appearance: none;
    background-color: $transparent;

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      background-color: $transparent;
    }

    &::-moz-range-progress {
      background-color: $highlight;
    }

    &::-moz-range-track {
      background-color: $transparent;
    }

    &::-ms-fill-lower {
      background-color: $highlight;
    }

    &::-ms-fill-upper {
      background-color: $transparent;
    }
  }
}

.romper-image-overlay,
.romper-behaviour-modal {
  position: absolute;
}

.romper-image-overlay,
.romper-start-image,
.romper-render-image {
  height: 100%;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.romper-render-image {
  background-color: $romper-background-color;
}

.romper-behaviour-modal {
  background-color: $var-panel-background;
  border-radius: 0.5em;
  color: $white;
  padding: 1%;
  z-index: 15;

  .title {
    font-size: 120%;
    font-weight: bold;
    padding-bottom: 0.5em;
    padding-right: 1.5em;
  }

  a {
    &:visited {
      color: inherit;
    }
  }
}

.romper-close-button {
  background-color: $transparent;
  background-image: url('../images/circle-x.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
  height: 1em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 1em;

  &:hover {
    background-color: $white;
    border: 1px solid $white;
    border-radius: 0.5em;
    filter: none;
  }
}

.romper-start-image {
  background-color: $romper-background-color;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.romper-variable-panel {
  background: linear-gradient($transparent 0%, $var-panel-background 10%, $var-panel-background 100%);
  bottom: 0;
  color: $transparent-white;
  display: flex;
  flex-direction: column;
  font-size: 1.8vw;
  left: 0;
  opacity: 0;
  padding-bottom: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 40%;
  transition: opacity 0.5s ease;
  z-index: 2;

  &.active {
    opacity: 1;
    transition: opacity 0.7s ease;
    z-index: 12;
  }
}

.romper-var-form-title {
  font-size: 120%;
  padding: 5% 25px 1%;
}

.romper-var-form-var-containers {
  flex-grow: 1;
  height: 50%;
}

.romper-var-form-carousel {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.romper-variable-form-item {
  display: flex;
  height: 30%;
  margin: 0.5%;
  opacity: 1;
  padding-left: 10%;
  pointer-events: all;
  position: absolute;
  transition: margin 0.5s ease, opacity 0.5s 0.5s ease;
  width: 80%;

  &.left {
    margin-left: -100%;
    opacity: 0;
    pointer-events: none;
    transition: margin 0.5s 0.2s ease, opacity 0.5s ease;
  }

  &.right {
    margin-left: 100%;
    opacity: 0;
    pointer-events: none;
    transition: margin 0.5s 0.2s ease, opacity 0.5s ease;
  }
}

.romper-var-form-input-container {
  display: flex;
  width: 100%;
}

.romper-var-form-button-div {
  display: inline-flex;
  padding-left: 10vw;
  width: 100%;

  button {
    background-color: $transparent;
    border: 0;
    color: $transparent-white;
    cursor: pointer;
    font-size: 80%;
    margin-bottom: 2%;
    margin-right: 10%;
    min-width: 2em;

    &.selected {
      border-bottom: 2px solid $white;
    }
  }
}

.romper-var-form-slider-input {
  margin-left: 10%;
}

.romper-var-form-range-output {
  background: $backing-colour;
  border: 1px solid $white;
  border-radius: 3px;
  font-size: 65%;
  left: 7vw;
  opacity: 0.8;
  padding: 0 5px;
  position: absolute;
  top: -20px;

  &::after {
    border-left: 5px solid $transparent;
    border-right: 5px solid $transparent;
    border-top: 10px solid $white;
    content: '';
    height: 0;
    left: 50%;
    margin-left: -5px;
    margin-top: 0;
    position: absolute;
    top: 100%;
    width: 0;
  }
}

.romper-var-form-answer-cont {
  display: table;
  height: 100%;
  padding: 0 2%;
  width: 50%;
}

.romper-var-form-answer-cont-inner {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.romper-var-form-label-div {
  display: table;
  height: 100%;
  text-align: left;
  width: 50%;

  span {
    display: table-cell;
    vertical-align: middle;
  }
}

.romper-var-form-list-input {
  select {
    border: 0;
    color: $dark-grey-blue;
    font-size: 100%;
    height: 3vw;
    text-align: left;
    width: 80%;
  }
}

.romper-var-form-number-input {
  display: table-cell;
  width: 100%;

  >div {
    display: flex;
  }

  input {
    border: 0;
    border-radius: 5px;
    color: $dark-grey-blue;
    height: 2.5vw;
    text-align: center;

    &.romper-var-form-slider-input {
      background: $romper-background-color;
      margin-left: 0;
      margin-top: 1vw;
      width: 60%;
    }

    &.romper-var-form-slider {
      margin-left: 1vw;
      margin-right: 1vw;
      width: 12vw;
    }
  }

  span {
    color: $romper-background-color;
    font-size: 75%;
    line-height: 2.5vw;
    margin-bottom: -1vw;
    width: 50%;

    &.min {
      text-align: left;
    }

    &.max {
      text-align: right;
    }
  }
}

.romper-var-form-button-container {
  display: inline-flex;
  margin-left: 10%;
  padding: 2% 0;
  position: relative;
  text-align: center;
  width: 80%;

  .var-back {
    background: url('../images/media-step-backward.svg') no-repeat left;
    background-size: contain;
    margin-right: auto;
    text-align: right;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }

  .var-count {
    font-size: 80%;
    line-height: 40px;
  }

  .var-next {
    background: url('../images/media-step-forward.svg') no-repeat right;
    background-size: contain;
    margin-left: auto;
    text-align: left;
  }
}

.romper-var-form-button {
  background-color: $transparent;
  border-radius: 3px;
  color: $transparent-white;
  cursor: pointer;
  font-size: 80%;
  max-height: 40px;
  padding: 1%;
  width: 15%;
}

.romper-var-form-feedback {
  bottom: ($romper-buttons-max-height + 1.25em);
  font-size: 80%;
  margin: 0;
  position: absolute;
  right: 2%;
}

.romper-ux-divider {
  border-bottom: 1px solid $white;
  display: none;
  height: 2px;
  left: 10%;
  pointer-events: none;
  position: absolute;
  top: 20px;
  width: 80%;
  z-index: 16;

  &.show {
    display: initial;
  }
}

.romper-ux-countdown {
  background: $highlight;
  height: 2px;
  margin-left: 49%;
  width: 2%;
}

.noselect {
  -moz-user-select: none; // Firefox
  -ms-user-select: none; // Internet Explorer/Edge
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  user-select: none; // Non-prefixed version, currently
}

.continue-modal {
  background-color: $forty-percent-black;
  bottom: 0;
  display: none;
  left: 0;
  position: inherit;
  right: 0;
  top: 0;

  .modal-inner-content {
    border-bottom: 1px solid $white;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .continue-modal-content {
    background-color: $ninety-percent-black;
    bottom: auto;
    display: none;
    margin-left: auto;
    margin-right: auto;
    max-height: calc(100% - 100px);
    min-height: 130px;
    min-width: 300px;
    padding: 2%;
    position: relative;
    text-align: center;
    top: 5%;
    width: 30%;

    &.show {
      display: block;
      z-index: 1010;
    }

    &.hide {
      display: none;
      height: 0%;
      width: 0%;
    }

    .romper-start-button,
    .romper-reset-button {
      display: inline-block;
      height: unset;
      margin: 1em;
      position: unset;
      transform: none;
      width: unset;
    }
  }

  &.show {
    display: block;
    z-index: 1010;
  }

  &.hide {
    display: none;
    height: 0%;
    width: 0%;
  }
}

.cancel-resume-button {
  background-color: $ninety-percent-black;
  border: 1px solid $white;
  border-radius: 0;
  color: $white;
  font: inherit;
  margin: 10% 0;
  padding: 5%;

  &:hover {
    background-color: $highlight;
    border-color: $black;
    color: $black;
  }
}

// ##Device = Desktops
// ##Screen = 1281px to higher resolution desktops
@media (min-width: 1281px) {
  .romper-player > .romper-gui {
    >.romper-buttons {
      width: 100%;
    }
  }
}

// ##Device = Laptops, Desktops
// ##Screen = B/w 1025px to 1280px
@media (min-width: 1025px) and (max-width: 1280px) {
  .romper-player > .romper-gui {
    >.romper-buttons {
      width: 100%;
    }
  }
}

// ##Device = Tablets, Ipads (portrait)
// ##Screen = B/w 768px to 1024px
@media (min-width: 768px) and (max-width: 1024px) {
  .romper-player > .romper-gui {
    >.romper-buttons {
      width: 100%;
    }
  }
}

// ##Device = Tablets, Ipads (landscape)
// ##Screen = B/w 768px to 1024px
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .romper-player > .romper-gui {
    >.romper-buttons {
      width: 100%;
    }
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .romper-player > .romper-media {
    &.romper-prestart > .romper-privacy-notice {
      font-size: 70%;
      height: 75px;

      > p {
        bottom: 0;
        margin-bottom: 3px;
        padding: 0 2%;
      }
    }
  }
}

// ##Device = Low Resolution Tablets, Mobiles (Landscape)
// ##Screen = B/w 481px to 767px
@media (min-width: 320px) and (max-width: 767px) {
  .romper-scrub-bar {
    bottom: ((2 * ($romper-button-height + 15px)) + 5px);
    font-size: 100%;
    left: 0;
    width: 100%;
  }

  .romper-player > .romper-gui >.romper-buttons {
    padding-bottom: 0;
    width: 100%;

    .romper-button {
      margin: 0;
    }

    .romper-media-transport {
      height: $romper-button-height + 15px;
      width: 100%;

      >div {
        border: 0;
      }

      >.center {
        border-top: 1px solid $white;
        bottom: $romper-button-height + 15px;
        height: $romper-button-height + 15px;
        padding: 10px 0 0;
        position: absolute;
        width: 100%;

        .romper-narrative-element-transport {
          justify-content: space-between;
          min-width: 5 * ($romper-button-width + (2 * $romper-button-padding));
          width: 50%;
        }
      }

      >.left,
      .right {
        padding-top: 0;
      }
    }
  }
}

.details-overlay {
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: row;
  font-size: 1em;
  left: 0;
  overflow: scroll;
  
  position: absolute;
  top: 2%;
  z-index: 2000;

  .detail {
    padding-left: 0.5em;
  }

  .detail-input {
    background: $black;
    border: 0;
    color: $white;
  }
}

@media (orientation: portrait) {
  .romper-player {
    &.ios-fullscreen > .romper-gui > .romper-buttons-fullscreen {
      bottom: 115px;  // iphone fullscreen push buttons up
    }
  }
}

