$background-colour: rgba(0, 0, 0, 0.3);
$transparent: rgba(0, 0, 0, 0);
$highlight: #ff7f11;
$accent-colour: #fff;
$backing-colour: #50e3c2;

$romper-background-color: #ccc;

@mixin button {
  height: 100%;
  width: 8%;
  background-color: $transparent;
  border-bottom: 0;
  padding-bottom: 4px;

  &:hover {
    background-color: $background-colour
  }

  &.romper-button-selected {
    border-bottom: 4px solid $highlight;
    padding-bottom: 0;
  }
}

@mixin buttonIcon($background-image) {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: $transparent;
  background-image: url($background-image);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin overlay {
  align-items: center;
  background-color: $backing-colour;
  display: flex;
  max-height: 70%;
  max-width: 60%;
  opacity: 0.9;
  overflow-y: auto;
  padding: 5px;

  & > * {
    padding: 5px;
  }
}

.romper-no-hls-support {
  display: table;
  height: 100%;
  width: 100%;

  div {
    color: $accent-colour;
    display: table-cell;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
  }
}

.romper-player {
  color: $accent-colour;
  display: flex;
  flex-direction: column;
  height: calc(600px / 16 * 9);
  justify-content: flex-end;
  position: relative;
  width: 600px;

  // Reset styles for all elements within romper.
  * {
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
  }

  .romper-background,
  .romper-media,
  .romper-gui {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .romper-media {
    background-color: $romper-background-color;
  }

  .romper-video-element {
    height: 100%;
    width: 100%;
  }

  .romper-inactive {
    display: none !important;
    visibility: collapse !important;
  }

  .romper-control-selected > .romper-icon {
    background-color: $highlight;
  }

  .romper-play-button {
    @include button;

    div {
      @include buttonIcon('../images/play.svg');
      width: 90%;
      height: 90%;
    }
    margin-right: 20px;
  }

  .romper-pause-button {
    @include button;

    div {
      @include buttonIcon('../images/pause.svg');
      width: 50%;
      height: 50%;
    }
    margin-right: 20px;
  }

  .romper-volume-button {
    @include button;

    div {
      @include buttonIcon('../images/listen.svg');
      width: 50%;
      height: 50%;
    }
    margin-left: auto;
  }

  .romper-repeat-button {
    @include button;

    div {
      @include buttonIcon('../images/replay.svg');
      width: 50%;
      height: 50%;
    }
    margin-right: 20px;
  }

  .romper-representation-button {
    @include button;

    div {
      @include buttonIcon('../images/series-stack.svg');
      width: 50%;
      height: 50%;
    }
  }

  .romper-icon-button {
    @include button;

    div {
      @include buttonIcon('../images/chapters.svg');
      width: 50%;
      height: 50%;
    }
  }

  .romper-fullscreen-button {
    @include button

    div {
      @include buttonIcon('../images/fullscreen.svg');
      width: 60%;
      height: 60%;
    }
    margin-left: 20px;
  }

  .romper-buttons-fullscreen {
    .romper-fullscreen-button {
      div {
        @include buttonIcon('../images/exit-fullscreen.svg');
        width: 60%;
        height: 60%;
      }
    }
  }

  .romper-back-button {
    @include button;

    div {
      @include buttonIcon('../images/previous.svg');
      width: 50%;
      height: 50%;
    }
  }

  .romper-next-button {
    @include button;

    div {
      @include buttonIcon('../images/next.svg');
      width: 50%;
      height: 50%;
    }
  }

  .romper-timer {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
    vertical-align: middle;
  }

  .romper-subtitles-button {
    @include button;

    div {
      @include buttonIcon('../images/subtitles.svg');
      width: 50%;
      height: 50%;
    }
  }

  .romper-volume-overlay {
    @include overlay;
    flex-direction: column;

    .romper-volume-control {
      align-items: center;
      display: flex;
      flex: none;
      flex-direction: row;
      font-size: smaller;
      justify-content: center;
      width: 100%;

      .romper-volume-label {
        margin-right: 1em;
        overflow-x: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 8em;
      }

      .romper-volume-range {
        width: 100%;
      }
    }
  }

  .romper-representation-overlay {
    @include overlay;
    flex-wrap: wrap;
    justify-content: center;

    .romper-representation-icon {
      width: 3em;
    }
  }

  .romper-icon-overlay {
    @include overlay;
    flex-wrap: wrap;
    justify-content: center;

    .romper-icon {
      width: 3em;
    }
  }
}


.romper-player > .romper-gui > .romper-buttons {

  background-color: $backing-colour;
  display: flex;
  height: 100%;
  max-height: 60px;
  opacity: 0;
  position: absolute;
  transition: all 1s ease;
  width: 100%;

  >.romper-media-transport {
    width: 100%;
  }

  >.romper-narrative-element-transport {
    width: 100%;
  }

  &.show {
    background-color: $backing-colour;
    display: flex;
    height: 100%;
    max-height: 60px;
    opacity: 1;
    width: 100%;
  }

}

.romper-player > .romper-gui {


  >.romper-overlays {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 87%;
    justify-content: center;
    width: 100%;
  }

  >.romper-buttons-activate-area {
    display: block;
    height: 13%;
    max-height: 60px;
    opacity: 0;
    position: absolute;
    width: 100%;

    &.hide {
      display: hidden;
      height: 0%;
      width: 0%;

    }
  }

}




.romper-control-disabled {
  opacity: 0.2;
}

.romper-scrub-bar {
  width: 70%;
}

.romper-image-overlay {
  position: absolute;
}

.romper-image-overlay,
.romper-render-image {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
