@import './colours';

$romper-button-height: 56px;
$romper-button-width: 56px;
$romper-buttons-max-height: 64px;
$romper-hover-text-size: 25px;

.romper-media-element-queued {
  display: none;
}

@mixin button {
  background-color: $transparent;
  border: 0;
  height: 100%;
  margin: 0;
  outline: none;
  padding: 4px;
  vertical-align: top;
  width: $romper-button-width;

  &:hover {
    background-color: $highlight-invert;
    filter: invert(100%);
  }

  &.romper-button-selected {
    border-bottom: 4px solid $highlight;
    padding-bottom: 0;
  }
}

@mixin button-icon($background-image) {
  background-color: $transparent;
  background-image: url($background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@mixin overlay {
  align-items: center;
  background-color: $backing-colour;
  display: flex;
  max-height: 70%;
  max-width: 60%;
  opacity: 0.9;
  overflow-y: auto;
  padding: 13px;
  z-index: 4;

  & > * {
    padding: 5px;
  }
}

// Safari
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.romper-warning {
  display: table;
  height: 100%;
  width: 100%;

  div {
    color: $accent-colour;
    display: table-cell;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
  }
}

.romper-target {
  height: 100%;
  min-width: 500px;
  width: 100%;

  &.romper-target-fullscreen {
    background-color: $romper-background-color;
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 1;
  }
}

.romper-threejs {
  position: absolute;
}

.romper-player {
  color: $accent-colour;
  display: flex;
  flex-direction: column;
  height: calc(800px / 16 * 9);
  justify-content: flex-end;
  position: relative;
  width: 800px;

  * {
    box-sizing: content-box;
  }

  &.romper-player-fullscreen {
    height: 56.25vw; // 100 viewport width divided by video aspect ratio (16/9)
    left: 0;
    // Center Video Box
    margin-top: -28.125vw; // height/2
    position: absolute;
    top: 50vh;
    width: 100vw;
  }

  .romper-background,
  .romper-media,
  .romper-gui {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .romper-dog {
    pointer-events: none;
    position: absolute;
    z-index: 101;
  }

  .romper-media {
    background-color: $romper-background-color;

    &.romper-prestart {
      .romper-start-image {
        visibility: visible;
      }

      div {
        visibility: hidden;
      }
    }
  }

  .romper-loading {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .romper-loading-inner {
    @include button-icon('../images/loading.svg');
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    margin-left: auto;
    margin-right: auto;
    max-width: 50px;
    width: 20%;
  }

  .romper-video-element {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .romper-aframe-scene {
    z-index: 4;
  }

  .a-enter-vr {
    &.embedded {
      height: $romper-button-height;
      top: 0;
      width: $romper-button-height;
    }
  }

  .a-enter-vr-button {
    bottom: inherit;
    height: $romper-button-height;
    top: 5px;
  }

  .romper-audio-element {
    background: $romper-background-color;
    background-image: url('../images/volume-high.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 30%;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .romper-text-element {
    background: $white;
    color: $text-colour;
    height: 100%;
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
  }

  .romper-inactive {
    display: none !important;
    visibility: collapse !important;
  }

  .romper-unavailable {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .romper-control-selected > .romper-icon {
    background-color: $highlight;
  }

  .romper-no-icon {
    background-color: $transparent;
    background-image: url('../images/no-asset.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .romper-play-button {
    @include button;

    div {
      @include button-icon('../images/media-play.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-pause-button {
    @include button;

    div {
      @include button-icon('../images/media-pause.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-seek-fwd-button {
    @include button;

    div {
      @include button-icon('../images/seek-forward-40.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-seek-back-button {
    @include button;

    div {
      @include button-icon('../images/seek-back-40.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-volume-button {
    @include button;
    margin-left: auto;

    div {
      @include button-icon('../images/volume-high.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-start-button {
    @include button;
    margin-right: 20px;
    padding: 0;


    .romper-button-icon-div {
      @include button-icon('../images/media-play.svg');
    }
  }

  .romper-repeat-button {
    @include button;

    div {
      @include button-icon('../images/media-step-backward.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-representation-button {
    @include button;

    div {
      @include button-icon('../images/layers.svg');
      height: 60%;
      width: 60%;
    }
  }

  .romper-icon-button {
    @include button;

    div {
      @include button-icon('../images/list.svg');
      height: 60%;
      width: 60%;
    }
  }

  .romper-fullscreen-button {
    @include button;

    div {
      @include button-icon('../images/fullscreen-enter.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-buttons-fullscreen {
    .romper-fullscreen-button {
      div {
        @include button-icon('../images/fullscreen-exit.svg');
        height: $romper-button-height;
        width: $romper-button-width;
      }
    }
  }

  .romper-back-button {
    @include button;

    div {
      @include button-icon('../images/media-step-backward.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-next-button {
    @include button;
    margin-right: auto;

    div {
      @include button-icon('../images/media-step-forward.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-timer {
    display: inline-flex;
    height: 40px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
  }

  .romper-subtitles-button {
    @include button;

    div {
      @include button-icon('../images/subtitles.svg');
      height: $romper-button-height;
      width: $romper-button-width;
    }
  }

  .romper-mute-button {
    @include button;
    height: 50px;
    margin-right: auto;
    padding: 0;

    div {
      @include button-icon('../images/volume-high.svg');
      width: 80%;
    }
  }

  .romper-muted-button {
    @include button;
    height: 50px;
    margin-right: auto;
    padding: 0;

    div {
      @include button-icon('../images/volume-off.svg');
      width: 80%;
    }
  }

  .romper-volume-overlay {
    @include overlay;
    background-color: $black;
    bottom: 104px;
    flex-direction: column;
    left: 10%;
    max-height: unset;
    position: absolute;
    z-index: 14;

    .romper-volume-control {
      align-items: center;
      display: block;
      flex: none;
      flex-direction: row;
      font-size: smaller;
      justify-content: center;
      width: 100%;

      .romper-control-line {
        display: inline-flex;
      }

      .romper-volume-level {
        align-self: center;
        padding-left: 15px;
        width: 1.2em;
      }

      .romper-volume-label {
        margin-right: 1em;
        overflow-x: hidden;
        padding-bottom: 10px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 8em;
      }

      .romper-volume-range {
        margin-top: 5px;
        width: 100%;
      }
    }
  }

  .romper-representation-overlay {
    @include overlay;
    background-color: $black;
    bottom: 104px;
    flex-wrap: wrap;
    justify-content: center;
    max-height: unset;
    position: absolute;
    right: 10%;
    transition: opacity 1s ease;
    z-index: 14;

    .romper-representation-icon {
      width: 3em;
    }
  }

  .romper-icon-overlay {
    @include overlay;
    background-color: $black;
    bottom: 104px;
    flex-wrap: wrap;
    justify-content: center;
    max-height: unset;
    position: absolute;
    right: 10%;
    transition: opacity 1s ease;
    z-index: 14;

    .romper-icon {
      width: 3em;
    }
  }

  @keyframes appear {
    0%   {
      opacity: 0;
    }

    35%  {
      opacity: 0.35;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes countdown {
    0% {
      border-bottom-color: inherit;
      border-bottom-width: 10px;
      padding-bottom: 3px;
    }

    100% {
      border-bottom-color: transparent;
      border-bottom-width: 1px;
      padding-bottom: 12px;
    }
  }

  .romper-link-choice-overlay {
    background: linear-gradient($transparent 0%, $forty-percent-black 20%, $ninety-percent-black 100%);
    bottom: 0;
    display: flex;
    min-height: 10%;
    min-width: 0;
    padding: 3% 10%;
    pointer-events: none;
    position: absolute;
    width: 80%;
    z-index: 15;

    &.fullscreen-icons {
      background: none;
      display: grid;
      grid-auto-flow: column;
      height: 100%;
      padding: 0;
      width: 100%;

      &.tworow {
        grid-template-rows: 1fr 1fr;
      }

      &.threerow {
        grid-template-rows: 1fr 1fr 1fr;
      }

      .romper-link-icon-container {
        height: 100%;
        margin: 0;
        width: 100%;
      }
    }

    &.fade {

      .romper-control-selected {
        opacity: 0;
        transition: opacity 1s 0.5s ease;
      }

      .romper-control-unselected {
        opacity: 0;
        transition: opacity 1s ease;
      }
    }

    .romper-link-control {
      border-bottom-color: $transparent;
      border-bottom-style: solid;
      border-bottom-width: 5px;
      cursor: pointer;
      flex: 1 1 0;
      height: 100%;
      margin-bottom: 1%;
      pointer-events: all;
      width: 100%;
    }

    .romper-control-selected {
      border-bottom: 4px solid $highlight;

      .romper-link-icon-container {
        border: 1px solid $highlight;
      }
    }

    .romper-control-unselected {
      border-bottom: 4px solid $transparent;

      &.default {
        border-bottom: 4px solid $backing-colour;
      }

      .romper-link-icon-container {
        border: 1px solid $transparent;
      }
    }

  }

  .romper-link-choice-grid-cell {
    // animation: appear 0.8s;
    opacity: 1;
  }
}

.romper-link-icon-container {
  border-radius: 50%;
  height: 8em;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

.romper-text-link-container {
  display: flex;
  flex-direction: column;
  height: 8em;
  justify-content: center;
  margin-bottom: 7px;
}

.romper-link-text-icon {
  font-size: 200%;
  margin: 10px;
  text-align: center;
}

.romper-player > .romper-gui {

  >.romper-start-button {
    bottom: 50%;
    display: grid;
    height: 170px;
    left: 50%;
    margin-right: -50%;
    margin-top: -30%;
    position: absolute;
    transform: translate(-50%, 50%);
    width: 170px;
    z-index: 101;

    &:hover {
      background-color: $transparent;

      >div {
        background-color: $highlight-invert;
      }
    }

    .romper-start-button-icon {
      background-color: $transparent;
      border: 1px solid $white;
      border-radius: 50%;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
    }

    .romper-start-button-icon-div {
      height: 100px; // 40px;
      margin-left: 15px; // 37px;
      margin-top: 0; //30px;
      width: 80px; // 33px;
    }

    .romper-start-button-text-div {
      color: $white;
      font-size: 48px;
      font-weight: bold;
      line-height: $romper-button-height;
      margin-top: 10px;
      text-align: center;
    }
  }

  >.romper-buttons {
    background: linear-gradient($transparent 0, $black 70%, $black 100%);
    bottom: 0;
    display: flex;
    height: 100%;
    max-height: 180px;
    opacity: 0;
    padding-bottom: 44px;
    position: absolute;
    transition: all 1s ease;
    width: 100%;
    z-index: 10;

    .left,
    .right {
      flex-grow: 1;
      max-width: 200px;
      padding-top: 10px;
      width: 200px;
    }

    .center {
      flex-grow: 1;
      padding-top: 10px;
    }

    .right {
      display: flex;
    }

    >.romper-media-transport {
      display: flex;
      flex-direction: row;
      height: 74px;
      margin-left: 10%;
      padding-top: 120px;
      width: 80%;

      >div {
        border-top: 1px solid $white;
      }
   }

    &.show {
      opacity: 1;
    }

  }

  .romper-narrative-element-transport {
    bottom: $romper-buttons-max-height;
    display: flex;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1; // set to 0 to hide with rest of buttons
    transition: all 1s ease;
    width: 340px;
    z-index: 30; // remove to hide with rest of buttons

    &.show {
      opacity: 1;
    }

    .romper-button {
      margin: 0 5px;
    }
  }

  >.romper-overlays {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100% - 120px);
    justify-content: center;
    width: 100%;

    .romper-icon-label {
      display: none;
    }

    &.buttons-hidden {
      .romper-representation-overlay,
      .romper-icon-overlay {
        opacity: 0;
        transition: opacity 1s ease;
      }
    }
  }

  >.romper-buttons-activate-area {
    bottom: 0;
    display: block;
    height: 13%;
    max-height: 120px;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 10;

    &.hide {
      display: hidden;
      height: 0%;
      width: 0%;
    }

    &.disabled {
      pointer-events: none;
    }
  }
}

.romper-overlay-controls {
  margin-left: auto;
}

.romper-control-disabled {
  opacity: 0.2;
}

.romper-scrub-bar {
  bottom: 100px;
  display: block;
  height: 10px;
  left: 10%;
  margin: 0;
  position: absolute;
  right: 0;
  width: 80%;
}

.romper-image-overlay {
  position: absolute;
}

.romper-image-overlay,
.romper-render-image {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.romper-start-image {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.romper-variable-panel {
  background: linear-gradient($transparent 0%, $forty-percent-black 20%, $ninety-percent-black 100%);
  bottom: 0;
  color: $transparent-white;
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  left: 0;
  opacity: 0;
  padding-bottom: $romper-buttons-max-height;
  position: absolute;
  right: 0;
  text-align: center;
  top: 40%;
  transition: opacity 0.5s ease;
  z-index: 2;

  &.active {
    opacity: 1;
    transition: opacity 0.7s ease;
    z-index: 12;
  }
}

.romper-var-form-title {
  font-size: 120%;
  padding: 5% 25px 1%;
}

.romper-var-form-var-containers {
  flex-grow: 1;
  height: 50%;
}

.romper-var-form-carousel {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.romper-variable-form-item {
  display: flex;
  height: 30%;
  margin: 0.5%;
  opacity: 1;
  padding-left: 10%;
  pointer-events: all;
  position: absolute;
  transition: margin 0.5s ease, opacity 0.5s 0.5s ease;
  width: 80%;

  &.left {
    margin-left: -100%;
    opacity: 0;
    pointer-events: none;
    transition: margin 0.5s 0.2s ease, opacity 0.5s ease;
  }

  &.right {
    margin-left: 100%;
    opacity: 0;
    pointer-events: none;
    transition: margin 0.5s 0.2s ease, opacity 0.5s ease;
  }
}

.romper-var-form-input-container {
  display: flex;
  width: 100%;
}

.romper-var-form-button-div {
  display: inline-flex;
  padding-left: 10vw;
  width: 100%;

  button {
    background-color: $transparent;
    border: 0;
    color: $transparent-white;
    cursor: pointer;
    font-size: 80%;
    margin-bottom: 2%;
    margin-right: 10%;
    min-width: 2em;

    &.selected {
      border-bottom: 2px solid $white;
    }
  }
}

.romper-var-form-slider-output {
  margin-left: 10%;
}

.romper-var-form-answer-cont {
  display: table;
  height: 100%;
  padding: 0 2%;
  width: 50%;
}

.romper-var-form-answer-cont-inner {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.romper-var-form-label-div {
  display: table;
  height: 100%;
  text-align: left;
  width: 50%;

  span {
    display: table-cell;
    vertical-align: middle;
  }
}

.romper-var-form-list-input {
  select {
    border: 0;
    color: $dark-grey-blue;
    font-size: 2vw;
    height: 3vw;
    text-align: left;
    width: 80%;
  }
}

.romper-var-form-number-input {
  display: table-cell;
  width: 100%;

  >div {
    display: flex;
  }

  input {
    border: 0;
    border-radius: 5px;
    color: $dark-grey-blue;
    height: 2.5vw;
    text-align: center;

    &.romper-var-form-slider-output {
      background: $romper-background-color;
      margin-left: 0;
      margin-top: 1vw;
      width: 60%;
    }

    &.romper-var-form-slider {
      margin-left: 1vw;
      margin-right: 1vw;
      width: 12vw;
    }
  }

  span {
    color: $romper-background-color;
    font-size: 1.5vw;
    line-height: 2.5vw;
    margin-bottom: -1vw;
    width: 50%;

    &.min {
      text-align: left;
    }

    &.max {
      text-align: right;
    }
  }
}

.romper-var-form-button-container {
  display: inline-flex;
  margin-left: 10%;
  padding: 2% 0;
  position: relative;
  text-align: center;
  width: 80%;

  .var-back {
    background: url('../images/media-step-backward.svg') no-repeat left;
    background-size: contain;
    margin-right: auto;
    text-align: right;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }

  .var-count {
    font-size: 80%;
    line-height: $romper-button-height;
  }

  .var-next {
    background: url('../images/media-step-forward.svg') no-repeat right;
    background-size: contain;
    margin-left: auto;
    text-align: left;
  }
}

.romper-var-form-button {
  background-color: $transparent;
  border-radius: 3px;
  color: $transparent-white;
  cursor: pointer;
  font-size: 80%;
  padding: 1%;
  width: 15%;
}

.romper-var-form-feedback {
  bottom: ($romper-buttons-max-height + 20px);
  font-size: 80%;
  margin: 0;
  position: absolute;
  right: 2%;
}

.romper-ux-divider {
  border-bottom: 1px solid $white;
  display: none;
  height: 2px;
  left: 10%;
  pointer-events: none;
  position: absolute;
  top: 20px;
  width: 80%;
  z-index: 16;

  &.show {
    display: initial;
  }
}

.romper-ux-countdown {
  background: $highlight;
  height: 2px;
  margin-left: 49%;
  width: 2%;
}
