$facebook-blue: #3b5998;

.romper-share-list {
  display: inline-flex;
  margin-top: 0;
  padding-left: 0;

  li {
    border: 1px solid $transparent;
    list-style: none;
    padding: 0.5em;

    &:hover {
      border: 1px solid $white;
    }

    button {
      background-color: $transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border: 0;
      height: 3vw;
      max-height: 3em;
      max-width: 3em;
      min-height: 2em;
      min-width: 2em;
      width: 3vw;
    }

    &.email {
      button {
        background-image: url('../images/envelope-closed.svg');
      }
    }

    &.twitter {
      button {
        background-image: url('../images/Twitter_Social_Icon_Circle_Color.svg');
      }

      &.white {
        button {
          background-image: url('../images/Twitter_Social_Icon_Circle_White.svg');
        }
      }
    }

    &.facebook {
      button {
        background-image: url('../images/f_logo_RGB-Blue_250.png');
      }

      &.white {
        button {
          background-image: url('../images/f_logo_RGB-White_250.png');
        }
      }

      &.black {
        button {
          background-image: url('../images/f_logo_RGB-Black_250.png');
        }
      }

      &.grey {
        button {
          background-image: url('../images/f_logo_RGB-Grey_250.png');
        }
      }
    }
  }
}

.social-share {
  display: inline;
  min-height: 6em;
}
